 body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fefefe;
  }
  #content {
    background-color: aqua;
    padding: 18px;
    border-radius: 7px;
    border: 2px solid black;
  }